/* Base Application Styles */
html, body{
  width: 100%;
  height: 100%;
  background-color: #222; 

}
.content{
  width: 100%;
  height: 100%;
}
/*stage 开始*/
.stage{
  position: relative;
  width: 100%;
  height: 680px;

}
/*stage 结束*/

/*image 开始*/
.img-sec{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #ddd;
  /*background-color: red;*/
}
/*image 结束*/

/*controller 开始*/
.controller-nav{
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 101;

  width: 100%;
  text-align: center;
}
/*controller 结束*/